@font-face {
  font-family: MyriadPro;
  src: url("../font/English font/MyriadPro-Regular.otf");
}
@font-face {
  font-family: MyriadLight;
  src: url("../font/English font/MyriadPro-LightSemiExt.otf");
}
@font-face {
  font-family: Yekan;
  src: url("../font/Persian font/IRANYekanLight.ttf");
}
@font-face {
  font-family: RegYekan;
  src: url("../font/Persian font/IRANYekanRegular.ttf");
}
@font-face {
  font-family: YekanBold;
  src: url("../font/Persian font/IRANYekanBold.ttf");
}
/* plugin css */
[data-fs-scroll] {
  position: relative;
}

[data-fs-scroll] .page {
  left: 2vw;
  top: 40.22%;
  position: fixed;
  list-style: none;
  background: rgb(0, 1, 1, 0.4);
  border-radius: 25px;
  height: fit-content;
  padding: 0.5% 0.3% 0.5%;
  width: 1.55%;
  z-index: 12;
}
[data-fs-scroll] .page li {
  cursor: pointer;
  /* z-index: 12;  */
}

[data-fs-scroll] .page li.active .icon {
  fill: #fff;
}
[data-fs-scroll] .page .icon:hover {
  fill: #fff;
}
@media only screen and (max-width: 760px) {
  [data-fs-scroll] .page {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: darkcyan;
}
.first {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 120px;
  /*border: 3px solid navy;*/
}
.firstA {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 3.875em;
  height: 50px;
  /* border: 3px solid purple; */
  /* color: red; */
  z-index: 11;
}
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.container2,
.sections,
.section {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  color: #fff;
}
.section0 {
  /* background: linear-gradient(#0e2f24, #000101); */
  background: #030c09;
  /* background: #f56c6c; */
}
.section1 {
  background: #030c09;
  /* background: olive; */
}
.section2 {
  background: linear-gradient(#0e2f24, #000101);
}
.section3 {
  background: #030c09;
}
.section4 {
  background: #030c09;
}
.section5 {
  background: #030c09;
}
.section6 {
  background-image: linear-gradient(50deg, #06070a, #38404a 50%, #727f8f);
}
.myBorder {
  border: #f56c6c 2px sold;
}

.second {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0px;
  height: 50px;
  /*border: 3px solid navy;*/
}
.logo {
  /* border: 3px solid navy; */
  position: absolute;
  top: 4.4vh;
  text-align: start;
}
.logo img {
  width: 10.69vw;
  height: 5.78vh;
  position: inherit;
  left: 2em;
  /* border: 3px solid navy; */
}
.logo-sm {
  /* border: 3px solid navy; */
  position: absolute;
  top: 29px;
  text-align: start;
}
.logo-sm img {
  width: 64px;
  height: 56px;
  position: inherit;
  left: 2em;
  /* border: 3px solid navy; */
}
.three {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  /* border: 2px solid navy; */
}
.foot1 {
  width: 100%;
  /* border: 2px solid navy; */
  /* box-sizing: content-box; */
}

.footItem {
  position: absolute;
  /* border: 2px solid navy; */
  bottom: 4vh;
  left: 2rem;
  right: 2rem;
}
.footItem a {
  text-decoration: none;
  color: white;
  font-family: Yekan;
  font-size: 0.9vw;
  margin: 1.2vh 0.58vw;
}
.footItem a:hover,
a:active {
  color: #ceb06b;
}
.num,
.txt {
  color: white;
  font-family: Yekan;
  /* border: 2px solid navy; */
  /* position: absolute; */
  /* right: 6rem;
  left: 4rem;
  top: 1em; */
  font-size: 1em;
}
.txt {
  top: 2.5em;
}
.call {
  transform: scale(0.2);
  /* border: 2px solid navy; */
  position: absolute;
  top: -4em;
  right: 0;
}
.telephone-svg {
  /* border: #f56c6c 2px solid; */
  /* transform-origin: top; */
  /* transfo: scale(0.4); */
  width: 8.5vw;
  height: 17vh;
  position: absolute;
  right: 3em;
  top: -6vh;
}
.flesh-container {
  /* width: 30%; */
  /* height: auto; */
  position: absolute;
  /* bottom: 40.19%; */
  top: 12vh;
  left: 2.2vw;
  background: transparent;
  border: none;
}
.fleshCon {
  margin-left: 20px;
  background: transparent;
  width: 20px;
  /* border: none; */
}
.flesh-container:hover {
  cursor: pointer;
  /* background: #f56c6c; */
}
.flesh:hover {
  background: #ceb06b;
}
.go-home {
  /* height: 5%; */
  width: auto;
  position: absolute;
  /* border: none; */
  background: purple;
  cursor: pointer;
  top: 0vh;
}
.flesh {
  position: absolute;
  left: 0;
}
.flesh img {
  position: inherit;
  left: 2.7vw;
}
.go-home:active,
.go-home:hover,
.flesh-container:hover,
.flesh-container:active {
  border: none;
  background: transparent;
}
.mouse {
  /* background: #e26d06; */
  width: 1.81%;
  height: 2.73%;
  position: absolute;
  /* bottom: 7.19%; */
  left: 2.27vw;
  z-index: 99;
}

.mouseSvg {
  width: initial;
  height: auto;
  position: absolute;
  top: 0;
  opacity: 0.4;
  /* background: #c7006d; */
  left: 0%;
}
.mouseScroll {
  height: initial;
  width: auto;
  position: absolute;
  top: 0;
  left: 0px;
  opacity: 0.4;
}
.l {
  width: 14.2vw;
  background: rgb(0, 1, 1, 0.4);
  position: absolute;
  right: 0;
  top: 29px;
  border-top-left-radius: 3.94px;
  border-bottom-left-radius: 3.94px;
  z-index: 15;
}
.l a {
  text-decoration: none;
  font-size: 0.878vw;
  font-family: MyriadLight;
  color: white;
  padding: 0.125em 0.4vw;
}
.l a:hover,
a:active {
  color: #ceb06b;
  cursor: pointer;
}
.on {
  /* background: orange; */
  text-align: end;
  margin-right: 4em;
  z-index: 170;
}
.about {
  position: absolute;
  top: 2vh;
  right: 3em;
  z-index: 10;
}
.about a {
  color: white;
  text-decoration: none;
  font-size: 1vw;
  font-family: Yekan;
}
.about a:hover,
a:active {
  color: #ceb06b;
}
.fitImg {
  height: -webkit-fill-available;
  /* margin-top: -4%; */
}
.fitImg2 {
  height: -webkit-fill-available;
}
.fitImg2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgTeh {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.oneImg {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  /* border: 2px solid orange; */
}
.twoImg {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: move1 50s infinite linear;
  /* background: red; */
  /* border: 2px solid rebeccapurple; */
}
@keyframes move1 {
  0% {
    transform: translate3d(0px, 0, 0);
  }
  40% {
    transform: translate3d(88px, 0, 0);
  }
  80% {
    transform: translate3d(-35px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
.threeImg {
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  /* border: 2px solid olive; */
}
.fourImg {
  z-index: 4;
  position: absolute;
  top: 0px;
  left: -110px;
  animation: move2 150s infinite linear;
  /* border: 2px solid red;  */
}
@keyframes move2 {
  0% {
    transform: translate3d(0px, 0, 0);
  }
  5% {
    transform: translate3d(-40px, 0, 0);
  }
  50% {
    transform: translate3d(260px, 0, 0);
  }
  /* 100% {transform: translate3d(-110px,0,0);} */
}
.fiveImg {
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  /* border: 2px solid navy; */
}
.rightTeil {
  z-index: 10;
  /* margin-right: 80%; */
  /* border: #f56c6c 2px solid; */
  width: fit-content;
  position: absolute;
  top: 0%;
  right: 0;
  opacity: 0;
}
@keyframes rightTeil {
  0% {top: 0%;opacity: 0;}
  100% {top: 35%;opacity: 1;}
}

.right1 {
  text-align: center;
}
.right1 img {
  width: 36%;
}

.right4 {
  font-family: Yekan;
  color: #ceb06b;
  text-align: center;
  font-size: 1.6vw;
  font-weight: bolder;
  padding-top: 5px;
  /* margin-right: 5%; */
}
.right2 {
  padding-top: 2%;
  /* width: 80%; */
  position: inherit;
  padding-left: 10%;
  padding-right: 10%;
  /* margin: 0 20px; */
}
@media only screen and (min-width: 2000px) {
  .right2 {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.rightTxt {
  text-align: justify;
  text-align-last: center;
  font-size: 0.878vw;
  color: #808285;
  direction: rtl;
  font-family: RegYekan;
}
.right3 {
  margin-top: 3%;
  z-index: 10;
  margin-left: 15%;
  /* margin-right: 20%; */
}
.right3 button {
  background-color: transparent;
  color: #ceb06b;
  font-family: Yekan;
  font-size: 0.878vw;
  border: #ceb06b solid 2px;
  padding: 3px 20px;
  border-radius: 20px;
  z-index: 10;
  width: fit-content;
}
.right3 button:hover,
button:active {
  color: #837045;
  cursor: pointer;
  transform: scale(1.1);
}
.b1 {
  /* display: inline; */
  margin-right: 5%;
}
.b2 {
  display: inline;
}
.menu i {
  position: absolute;
  right: 21px;
  z-index: 10;
  transform: scale(2.7);
  top: 29px;
}
/* 
  
  
  */
.first-md {
  width: 100%;
  position: absolute;
  /* left: 0; */
  top: 0%;
  height: 100%;
  /* border: 3px solid navy; */
}
.one-md {
  position: absolute;
  width: 100%;
  top: 11%;
  left: 0;
  /* border: 3px solid purple; */
  /* height: auto; */
  /* top: 86px;
    left: 12px; */
}
.two-md {
  position: absolute;
  width: 14%;
  /* height: 43px; */
  top: 26.4%;
  left: 18.75%;
}
.three-md {
  position: absolute;
  width: 54%;
  /* height: auto; */
  top: 17%;
  left: 14.6%;
}
.four-md {
  position: absolute;
  width: 18%;
  /* height: auto; */
  top: 31%;
  left: 29%;
}
.five-md {
  position: absolute;
  width: 67.5%;
  /* height: auto; */
  top: 29.4%;
  left: 9.6%;
}
.txt1 {
  position: absolute;
  top: 71%;
  font-size: 1.46vw;
  font-family: YekanBold;
  color: #ceb06b;
}
.txt2 {
  position: absolute;
  top: 74%;
  /* width: 54%; */
}
.but1 {
  position: absolute;
  top: 82%;
}
.but1 button {
  background-color: transparent;
  color: #ceb06b;
  font-family: Yekan;
  font-size: 0.878vw;
  border: #ceb06b solid 2px;
  padding: 3px 20px;
  border-radius: 20px;
  z-index: 10;
  width: fit-content;
}
.but1 button:hover,
button:active {
  color: #837045;
  cursor: pointer;
  transform: scale(1.1);
}

.p1 {
  color: #ceb06b;
  font-size: 1.6vw;
  font-family: YekanBold;
  /* position: absolute;
  top: 50px; */
  margin-top: 5em;
}
.p2 p {
  direction: rtl;
  font-family: RegYekan;
  text-align: justify;
  color: #808285;
  font-size: 1vw;
  /* margin-top: 3%; */
  padding: 0 15%;
  text-align-last: right;
}
.p2 img {
  margin-top: 10px;
  /* border: #f56c6c 2px solid; */
  width: 100%;
  padding: 0 20%;
}
.p2-md p {
  direction: rtl;
  font-family: RegYekan;
  text-align: justify;
  color: #808285;
  font-size: 1.2vw;
  /* margin-top: 3%; */
  /* padding: 0 20%; */
  text-align-last: right;
  margin-top: 30px;
}
.p2-md img {
  margin-top: 5em;
  /* border: #f56c6c 2px solid; */
  width: 100%;
}
.sec3-total {
  margin-top: 17%;
}
.p1-sec3 {
  color: #ceb06b;
  font-size: 1.6vw;
  font-family: YekanBold;
  /* position: absolute;
  top: 50px; */
  /* margin-top: 31%; */
  text-align: end;
  /* border: #f56c6c 2px solid; */
}
.p2-sec3 {
  direction: rtl;
  font-family: RegYekan;
  text-align: justify;
  color: #808285;
  font-size: 1vw;
  padding-left: 15%;
}
.sec3 img {
  /* margin-top: 70%; */
  width: 100%;
  height: auto;
  padding: 0 15% 5% 0;
  /* border: purple 2px solid; */
}
.img-sec3 img {
  width: 100%;
  height: auto;
  padding-left: 20%;
  margin-top: 10%;
}
.b-sec3 {
  padding: 10% 15% 5% 0;
}
.b-sec3 button {
  background-color: transparent;
  color: #ceb06b;
  font-family: Yekan;
  font-size: 1vw;
  border: #ceb06b solid 2px;
  padding: 3px 1em;
  border-radius: 20px;
  /* margin-top: 2em; */
}
.textEventContainer {
  width: 100%;
  /* height: fit-content; */
  position: absolute;
  /* text-align: start; */
  /* right: 0; */
  /* left: 1%; */
  top: 35%;
  height: 35px;
  /* border: 3px solid navy; */
  margin: 0%;
  padding: 0%;
}
.textEvent {
  font-family: RegYekan;
  font-size: 0.8vw;
  position: absolute;
  transform-origin: top left;
  transform: rotate(270deg);
  margin-left: 2.2vw;
  margin-top: 4.5vh;
}
